html {
	box-sizing: border-box;
    font-style: normal;
    font-family: 'Roboto';

}
*,
*::after,
*::before {
	box-sizing: inherit;
}
body{
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
/* Estilos para poner a cero la sangría superior de los elementos */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
    margin-bottom: 0; 
}
/* Clase para restablecer las propiedades básicas de las listas (ul) */
ul{
    list-style: none;
    display: flex;
}
 
.li{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* Clase para restablecer las propiedades básicas de los enlaces */
.link {
	text-decoration: none;
	color: inherit;
}

/* Propiedades para la correcta visualización de las imágenes */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Propiedad para anular la cursiva en address */
address {
	font-style: normal;

}

a{
    color: #212121;
}

a:link{
    text-decoration: none;

}
a:hover{
    color: #2196F3;
}
a:active{
    color: #2196F3;
}
a:focus{
    color: #2196F3;
}
button{
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
}
button:hover{
    background-color: #2196F3;
    color: #FFFFFF;
}
button:active{
    background-color: #2196F3;
    color: #FFFFFF;
}
button:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}

.container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;



}


.flex{
        display: flex;
}

.wrap{
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}

.link__hover:hover .icon{
    fill: #2196F3;
    
    
}

.link__icon:hover .icon__path{
    
    fill: #EEEEEE;
    
}

.ick:hover{
    fill: #EEEEEE;
}

.footer{
    fill:rgba(255, 255, 255, 0.1);
}

.footer:hover, .footer:focus{
    fill: #2196F3;
}



.boder:hover{
    
    border: 1px solid #2196F3;
    
}

.boder{
    border-radius: 6px;
    border:1px solid #AFB1B8 ;
}

/* #AFB1B8 */
/* **************************************************************************  */

.header{

   border-bottom: 1px solid #ECECEC;
}

.header__web{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 24px;
    padding-bottom: 24px;


}

.header__prin{
    color: #2196F3;
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
}

.header__nav{
    font-size: 14px;
    line-height: 1.14;
    font-weight: 500;
}

.header__info{
    display: flex;
    align-items: center;
}
.header__text{
    font-weight: 500;
    font-size: 14px; 
    list-style: none;
    line-height: 1.14;
    color: #757575;
    margin-left:5px;
    margin-top: auto;
    margin-bottom: auto;
}
.header__text:hover{
    color: #2196F3;
}

.header__one{
    margin-left: 93px;
    padding-top: 32px;

}

.header__two{
    margin-left: 50px;
    padding-top: 32px;

}

.header__third{
    margin-left: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__four{
    margin-left: 282px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header__five{
    margin-left: 50px;
    padding-top: 32px;
    padding-bottom: 32px;
   
}

.header__direction{
    display: flex;
    flex-direction: row;
}



.header__indi{
    background-color: #2196F3;
    height: 4px;
    display: flex;
    align-items: flex-end;
    margin-top: 28px;
    border-radius: 2px;
}

/* **************************************************************************  */

.solution{
    
    /* background-color: #2F303A; */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-left: auto;
    margin-right: auto;
    padding: auto;  
    background-image: url("../images/ESTUDIO/Fondo__sol.jpg");
    

}

.solution__block{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}

.solution__title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    width: 696px;
    height: 120px;
}

.solution__button{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    background-color:  #2196F3;
    color: #FFFFFF;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 30px;
    border: none;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

}

/* ************************************************************************** */

.backdrop.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    width: 528px;
    height: 581px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    
  
}

.modal__button{
    margin-left: 487px;
    margin-top: 8px;
}

.modal__title{
    margin-top: 2px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03m;
    color: #212121;
}

.modal__label{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #757575;

}


.modal__input:focus, .modal__input:hover{
    border: 1px solid #2196F3;
}
.modal__input:focus + .modal__imag, .modal__input:hover + .modal__imag{
    fill: #2196F3;
}

.modal__input{
    width: 448px;
    height: 40px;
    display: block;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: black;
    padding-left: 40px;
}

.modal__imag{
 position: absolute;
 top: 14px;
 margin-left: 15px;
 fill: #212121;
}

.modal__conter{
 position: relative;
 margin-top: 4px;
}

.modal__input_coment{
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px; 
    box-sizing: border-box;
    display: block;
    outline: none;
    padding: 12px 0 10px 10px;
    resize: none;
    margin-top: 4px;

}

.modal__input_coment:focus, .modal__input_coment:hover{
    border: 1px solid #2196F3;
}


.modal__conter__check{
    display: flex;
    flex-direction: row;
    
    width: 425px;
    margin-left: 12px;
}
.modal__text__check{
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #757575;
    width: 400px;
    margin-left: 8px;
    top: 0px;

}

.modal__input__check{
    background: #212121;
    border: 1px solid black;
}

.modal__conter__input{
    top: 0px;
}

.modal__Enviar{
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    margin: 10px 0  164px 164px;
}



/* **************************************************************************  */
.qualities{
    padding-top: 95px;
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
}

.qualities__cap{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    width: 270px;
}

.qualities__propi{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
    margin-top: 10px;



}

.qualities__list{
    display: flex;
    flex-wrap: wrap;
    gap: 23px;

  }

.qualities__item{
    flex-basis: calc((100% - 90px)/4);

}

.qualities__block{
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* **************************************************************************  */
.dedication{
    padding-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
}

.dedication__wrap{
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}


.dedication__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

}

.dedication__list{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 94px;
  }

.dedication__item{
    flex-basis: calc((100% - 60px)/3);

}

.dedication__card__imagen{
    width: 370px;
    height: 294px;
    background-image: url(../images/ESTUDIO/AppEscritorio.jpg);
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.dedication__card__imagen1{
    width: 370px;
    height: 294px;
    background-image: url(../images/ESTUDIO/AppMovil.jpg);
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.dedication__card__imagen2{
    width: 370px;
    height: 294px;
    background-image: url(../images/ESTUDIO/SolucionDise.jpg);
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.dedication__container__label{
    width: 370px;
    height: 70px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: rgba(47, 48, 58, 0.8);
}

.dedication__card__label{
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14px;

}

/* **************************************************************************  */
.team{
 
    background: #F5F4FA;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 94px;
}

.team__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    padding-top: 94px;


}

.team__caption{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}

.team__proyec{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
}

.team__name{
    padding-top: 30px;
    padding-left: auto;
    padding-right: auto;

}

.team__des{
    margin-top: 10px;
    padding-left: auto;
    padding-right: auto;
}


.team__list{
    display: flex;
    flex-wrap: wrap;
    gap: 28px;
    margin-top: 50px;

  }

.team__item{
    flex-basis: calc((100% - 111px)/4);
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
}

/* .team__container__redes {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
} */

.team__list__Redes{
    display: flex;
    flex-wrap: wrap;
    /* gap: 2px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 206px;

  }

.team__item__redes{
    /* flex-basis: calc((100% - 90px)/4); */
    margin-left: auto;
    margin-right: auto;
}



/* **************************************************************************** */

.customers__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    padding-top: 59px;
    margin-left: auto;
    margin-right: auto;
}

.customers__list{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 151px;
    

  }

.customers__item{
    flex-basis: calc((100% - 100px)/6);
    margin-left: auto;
    margin-right: auto;
}





/* **************************************************************************  */

.footer{
    background-color: #2F303A;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
   
}

.footer__text{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    width: 231px;

    
}

.footer__info{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.webstudio_two{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    padding-top: 60px;

  
}

.footer__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 60px;
  }

.footer__item{
    flex-basis: calc((100% - 0px)/1);
}

.footer__title__redes{
font-weight: 700;
font-size: 14px;
line-height: 1.14px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 20px;
}

.footer__conte__redes{
    margin-top: 72px;
    margin-left: 70px;
    width: 206px;
}

.footer__list__Redes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    width: 206px;

  }

.footer__item__redes{
    flex-basis: calc((100% - 30px)/4);
    /* margin-left: auto;
    margin-right: auto; */
}
/* **************************************************************************  */

.port{
    padding-top: 106px;
}


.port__caption{
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    
}

.port__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    color: #757575;
    margin-top: 20px;
    


}

.button_portafolio{
    font-weight: 500;
    font-size: 16px;
    line-height: 2.25;
    font-family: inherit;
    border: none;
    text-align: center;
    width: 73px;
    height: 38px;
    border-radius: 4px;
    margin-left: 280px;
}

.button_portafolio_two{
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    border: none;
    width: 128px;
    height: 38px;
    border-radius: 4px;
    margin-left: 8px;
}

.button_portafolio_three{
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    border: none;
    width: 145px;
    height: 38px;
    margin-left: 8px;
}

.button_portafolio_four{
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    border: none;
    width: 103px;
    height: 38px;
    margin-left: 8px;
}

.button_portafolio_five{
    background: #F5F4FA;
    border-radius: 4px;
    text-align: center;
    border: none;
    width: 130px;
    height: 38px;
    margin-right:279px ;
    margin-left: 8px;
}

.port__list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 4px;
    gap: 28px;
    padding-bottom: 147px;
  }

  .port__butitem:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  .port__butitem:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .port__butitem:active{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);      
  }

.port__butitem{
    flex-basis: calc((100% - 60px)/3);
    margin-left: auto;
    margin-right: auto;
    width: 371px;
    height: 404px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    margin-top: 30px;


}

.port__card{
    position: absolute;
    top: 0;
    height: 294px;
    width: 369px;
    background: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    transform: translateY(190%);
    transition: transform 250ms ease;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.port__card__text{
    margin: 20px 24px;
   
}

.port__butitem:hover .port__card{
    transform: translateY(0%);
}

.port__card__image{
    position: relative;
   overflow: hidden; 
}

/* **************************************************************************  */

.back_port{
    background-color: #2F303A;    
    margin-top: 82px;

}

.text-footer_port{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: #FFFFFF;
    
}

.text-footer-info_port_one{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
 

}

.text-footer-info_port_two{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

}

.webstudio_two_port{
    color: #2196F3;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

}


/* **************************************************************************  */


/* **************************************************************************  */
